html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  line-height: 1;
  font-family: var(--font-primary);
  font-size: var(--text-body);
  color: var(--color-text);

  @media (min-width: 1600px) { font-size: 1vw; }
  @media (min-width: 1800px) { font-size: 0.92vw; }
}

body {
	padding: 0;
  overflow-x: hidden;
  background-color: var(--main-bg);
  line-height: 1.6;
	width: 100%;
	max-width: 100%;
  font-family: var(--font-primary);
  font-size: var(--text-body);
  color: var(--color-text);
}

.container {
  @media (min-width: 1260px) {
    max-width: 77rem;
  }
  
  @include media-below(xs) {
    padding-right: rem(30px);
    padding-left: rem(30px);
  }
}

// ::selection {
//   color: white;
//   background-color: var(--accent-color);
//   text-shadow: none;
// }

.barba-container {
}

main {
  // overflow-x: hidden;
}

section {
	overflow: hidden;
	position: relative;
}

a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  transition: color 200ms ease-in-out;

	&:hover {
		// text-decoration: none;
  }
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}
