form {
  .form-group {}

  .form-button {
    color: white;
    font-size: rem(20px);
    line-height: 1.5;
    letter-spacing: -0.01em;

    display: flex;
    align-items: center;

    &::after {
      content: '';
      width: rem(27px);
      height: rem(1px);
      background-color: white;
      margin-left: rem(20px);
    }
  }

  input[type="text"],
  input[type="search"],
  textarea,
  input[type="email"] {
    border: 0;
    font-size: rem(18px);
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: white;
    
    @include media-below(md) {
      font-size: rem(16px);
    }
    
    width: 100%;
    padding: rem(16px);
    background-color: rgba(white, 0.05);
    border-bottom: 1px solid rgba(white, 0.5);
    transition: border 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-bottom: 1px solid black;
    }
  }

  ::placeholder {
    color: rgba(white, 0.8);
  }
}
