// used in sliders to vertical center all slides
// .-slides-center {
//   .swiper-wrapper {
//     align-items: center;
//   }
// }



/* testimonials backticks
.backticks {
  position: absolute;
  top: 0;
  left: 49.5%;
  transform: translateX(-50%);

  font-family: "Source sans pro";
  // font-family: "Oswald";
  font-size: 200px;
  line-height: 0.8;
  color: black;
  color: rgba(black, 0.1);
  
  &-comment {
    padding-top: 100px;
  }
} */




/* Accordion

.accordion__item:first-child {
  .accordion__content {
    max-height: unset;
  }
}

.accordion {
  &__content {
    transition: max-height 250ms $easeOutCubic;
    max-height: 0;
    overflow: hidden;
  }

  &__item.is-active {
    .accordion__content {
      // max-height: unset;
    }
  }
}

.accordion {
  &__item {
    cursor: pointer;
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__icon {
    margin-left: auto;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__content {}
}

*/