$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1230px
);

$font-size: 16px;

:root {
  --text-h1: #{rem(80px)};
  --text-h2: #{rem(50px)};
  --text-h3: #{rem(40px)};
  --text-h4: #{rem(22px)};
  --text-h5: #{rem(20px)};
  --text-h6: #{rem(18px)};

  --text-body: #{rem(16px)};
  --text-sm: #{rem(14px)};
}

:root {
  --main-gradient: linear-gradient(130.18deg, #FF7A00 0.02%, #DB00FF 102.41%);
  --main-gradient-opacity: linear-gradient(130.18deg, rgba(255, 122, 0, 0.6) 0.02%, rgba(219, 0, 255, 0.6) 102.41%);
  --main-bg: #0A0A0A;
  --shift-bg: white;
  --color-title: white;
  --color-text: rgb(255, 255, 255, 0.8);
}

@include media-below(sm) {
  :root {
    --main-gradient-opacity: linear-gradient(130.18deg, rgba(255, 122, 0, 0.2) 0.02%, rgba(219, 0, 255, 0.2) 102.41%);
  }
}

:root {
  --font-primary: "JetBrains Mono", sans-serif;
  --font-secondary: "Poppins", monospace;
}
