{% import "partials/_mixins.njk" as mixins %}
{% extends "layouts/base.njk" %}


{% block content %}

{% include "partials/nav.njk" %}


<section class="aboutHeader__section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h1 class="aboutHeader__title">
          We’re always looking for the best.
        </h1>
      </div>
      <div class="col-lg-7">
        <p class="aboutHeader__text">
          It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire. During the battle, Rebel spies managed to steal secret plans to the Empire's ultimate weapon, the Death Star, an armored space station with enough power to destroy an entire planet. Pursued by the Empire's sinister agents.
        </p>
      </div>
    </div>
  </div>
  <div class="aboutHeader__icon">
    <div class="icon" data-feather="smile"></div>
  </div>
</section>


<section class="clients__section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="clients__title about-title">
          Brand experience
        </h2>
      </div>
    </div>

    <div class="swiper-container js-clients-slider">
      <div class="row swiper-wrapper">
        {% for item in range(4) %}
          <div class="col-lg-3 swiper-slide">
            <div class="clients__content">
              <div class="clients__img">
                <img src="img/client.png" alt="client image">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<section class="services__section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="services__section__title about-title">
          services
        </h2>
      </div>
    </div>

    <div class="row services__grid">
      {% for item in range(8) %}
        <div class="col-lg-3 col-md-6">
          <div class="services__content">
            <div class="services__icon">
              <i class="icon" data-feather="monitor"></i>
            </div>
            <h4 class="services__title">
              Design audit
            </h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


<div class="contact__section">
  <div class="container contact__inner">
    <div class=""></div>

    <div class="row contact__header">
      <div class="col-xl-5 offset-xl-1">
        <h2 class="contact__title">
          are you interested in our services?
        </h2>
        <p class="contact__text col-lg-9">
          Do you want to know more about what we can do for you?
        </p>
      </div>
      <div class="col-xl-5">
        <form class="contact__form" action="POST">
          <div class="form-group">
            <input type="text" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" id="name" placeholder="Name">
          </div>
          <button class="form-button" type="submit">Send</button>
        </form>
      </div>
    </div>

    <div class="row contact__footer">
      <div class="col-xl-3 offset-xl-1">
        <div class="contact-info__content">
          <h4 class="contact-info__title">
            Office
          </h4>
          <p class="contact-info__item">
            Our teams are spread across the US, but our HQ is in Santa Monica, California
          </p>
        </div>
      </div>
      <div class="col-xl-3 offset-xl-1">
        <div class="contact-info__content">
          <h4 class="contact-info__title">
            Socials
          </h4>
          <a href="#" class="contact-info__item">twitter</a>
          <a href="#" class="contact-info__item">youtube</a>
          <a href="#" class="contact-info__item">instagram</a>
          <a href="#" class="contact-info__item">linkedin</a>
        </div>
      </div>
      <div class="col-xl-2">
        <div class="contact-info__content">
          <h4 class="contact-info__title">
            Say Hi!
          </h4>
          <a href="#" class="contact-info__item">
            Hello@loaded.gg
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="contact__icon">
    <div class="icon" data-feather="globe"></div>
  </div>
</div>


{% endblock %}
