{% import "partials/_mixins.njk" as mixins %}
{% extends "layouts/base.njk" %}


{% block content %}

{% include "partials/nav.njk" %}

<section class="talents__section">
  <div class="container">
    <div class="row talents__grid">
      {% for item in range(6) %}
        <div class="col-lg-4 col-md-6">
          <a href="talents-single.html" class="talents__item">
            <div class="talents__image ratio ratio-3:4">
              <img src="img/ginger.jpg" alt="talent image">
            </div>
            <div class="talents__content">
              <h4 class="talents__title">
                BIG JORA
              </h4>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
