
{#
{{ mixins.pageHeader({
  pt: 'layout-pt-xl',
  pb: 'layout-pb-xs',
  bread: 'bread',
  title: 'title'
}) }}
#}
{% macro pageHeader(item) %}
  <!-- section start -->
  <section class="{{ item.pt }} {{ item.pb }}">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
        <div class="col-xl-7 col-lg-8">
          <ul class="breadcrumbs text-black mb-40">
            <li class="breadcrumbs-item">
              <a data-barba href="home-1.html">
                Home
              </a>
            </li>
            <li class="breadcrumbs-item active" aria-current="page">
              {{ item.bread }}
            </li>
          </ul>

          <div class="sectionHeading -lg">
            <h1 class="sectionHeading__title">
              {{ item.title }}
            </h1>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>
  <!-- section end -->
{% endmacro %}



{#
{{ mixins.pageHeaderCenter({
  pt: 'layout-pt-xl',
  pb: 'layout-pb-xs',
  bread: 'bread',
  title: 'title'
}) }}
#}
{% macro pageHeaderCenter(item) %}
  <!-- section start -->
  <section class="{{ item.pt }} {{ item.pb }}">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row justify-content-center text-center">
        <div class="col-xl-7 col-lg-8">
          <ul class="breadcrumbs justify-content-center text-black mb-40">
            <li class="breadcrumbs-item">
              <a data-barba href="home-1.html">
                Home
              </a>
            </li>
            <li class="breadcrumbs-item active" aria-current="page">
              {{ item.bread }}
            </li>
          </ul>

          <div class="sectionHeading -lg">
            <h1 class="sectionHeading__title">
              {{ item.title }}
            </h1>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>
  <!-- section end -->
{% endmacro %}





{% macro pageHeaderDark(bread, title) %}
  <!-- page header start -->
  <section class="page-header bg-dark-1 js-page-header">

    {# <div data-parallax-target class="page-header__img">
      <div class="bg-image js-lazy" data-bg="img/test/2.jpg"></div>
    </div> #}

    <div class="page-header__shape -dark"></div>

    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="page-header__content js-page-header-content">

            <ul class="page-header__breadcrumbs breadcrumbs text-white">
              <li class="breadcrumbs-item">
                <a data-barba class="link" href="home.html">
                  Home
                </a>
              </li>
              <li class="breadcrumbs-item active" aria-current="page">
                {{ bread }}
              </li>
            </ul>


            <h1 class="page-header__title text-white">
              {{ title }}
            </h1>

          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- page header end -->
{% endmacro %}





{% macro blogComment(entry) %}
  <div class="comments__item-inner">
    <div class="comments__img">
      <div class="rounded-full bg-image js-lazy" data-bg="{{ entry.img }}"></div>
    </div>

    <div class="comments__body">

      <div class="comments__header">
        <div>
          <h4>{{ entry.name }}</h4>
        </div>

        <div>
          <p class="mt-4"> {{ entry.date }}</p>
        </div>
      </div>

      <div class="comments__text">
        <p>
          {{ entry.text }}
        </p>
      </div>

      <div class="comments__reply">
        <a class="button -underline text-black" href="#">
          Reply
        </a>
      </div>
      
    </div>
  </div>
{% endmacro %}





{#
{{ mixins.projectsNav({
  prev: {
    img: [portfolioImgPath, 'horizontal', '6.jpg'] | join('/'),
    link: portfolio[5].link,
    title: portfolio[5].title
  },
  next: {
    img: [portfolioImgPath, 'horizontal', '2.jpg'] | join('/'),
    link: portfolio[1].link,
    title: portfolio[1].title
  }
}) }}
#}
{% macro projectsNav(item) %}
  <!-- section start -->
  <section class="projects-nav">
    <!-- row start -->
    <div class="row no-gutters">

      <div class="col-lg-6">
        <a
          data-barba
          href="{{ item.prev.link }}"
          class="projects-nav__item -prev bg-dark-1"
        >
          <div class="projects-nav__img">
            <div class="bg-image js-lazy" data-bg="{{ item.prev.img }}"></div>
          </div>
    
          <div class="projects-nav__content">
            <div class="projects-nav__icon">
              <i
                class="size-xl str-width-xs text-white"
                data-feather="arrow-left-circle"
              ></i>
            </div>

            <h3 class="text-4xl fw-400 tracking-none text-white">
              {{ item.prev.title }}
            </h3>

            <p class="projects-nav__text -prev text-sm fw-500 text-white tracking-md uppercase">
              PREV
            </p>
          </div>
        </a>
      </div>
  
  
      <div class="col-lg-6">
        <a
          data-barba
          href="{{ item.next.link }}"
          class="projects-nav__item -next bg-dark-1"
        >
          <div class="projects-nav__img">
            <div class="bg-image js-lazy" data-bg="{{ item.next.img }}"></div>
          </div>
    
          <div class="projects-nav__content">
            <h3 class="text-4xl fw-400 tracking-none text-white">
              {{ item.next.title }}
            </h3>

            <div class="projects-nav__icon">
              <i
                class="size-xl str-width-xs text-white"
                data-feather="arrow-right-circle"
              ></i>
            </div>

            <p class="projects-nav__text -next text-sm fw-500 text-white tracking-md uppercase">
              NEXT
            </p>
          </div>
        </a>
      </div>

    </div>
    <!-- row end -->
  </section>
  <!-- section end -->
{% endmacro %}



{#
{{- mixins.buttonIcon({
  link: '#',
  title: 'Read More',
  color: 'text-black'
}) -}}
#}
{% macro buttonIcon(item) %}
  <a
    data-barba
    href="{{ item.link }}"
    class="button -icon {{ item.color }}"
  >
    {{ item.title }}
    <i class="icon size-xs str-width-md" data-feather="arrow-right"></i>
  </a>
{% endmacro %}