<header class="header js-header">
  <div class="container relative">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="header__logo">
          <!-- <img src="#" alt="site logo"> -->
          LOADED
        </div>
      </div>

      <div class="col-auto">
        <div class="header__menu">
          <div class="header__button">
            Menu
            <div class="header__button__bars">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
