<aside class="blogSidebar widget_area">

  <!-- widget start -->
  <div class="widget widget_search">
    <div class="">
      <form action="#" class="search__form">
        <div class="search__wrap">
          <input type="search" class="search__field" placeholder="Search">
          <button class="search__button">
            <i class="icon" data-feather="search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- widget end -->


  <!-- widget start -->
  <div class="widget widget_categories">
    <h5 class="widget-title">
      Categories
    </h5>

    <ul>
      {% for category, number in {
        'Process': '(5)',
        'UX/UI': '(4)',
        'Web': '(16)',
        'Creative': '(23)'
      } -%}
        <li>
          <a href="#">{{ category }}</a>
          {{ number }}
        </li>
      {% endfor -%}
    </ul>
  </div>
  <!-- widget end -->


  <!-- widget start -->
  <div class="widget widget_archive">
    <h5 class="widget-title">
      Archive
    </h5>

    <ul>
      {% for item in [
        'May 2020',
        'April 2020',
        'March 2020',
        'February 2020'
      ] -%}
        <li>
          <a href="#">{{ item }}</a>
        </li>
      {% endfor -%}
    </ul>
  </div>
  <!-- widget end -->


  <!-- widget start -->
  <div class="widget widget_recent_entries">
    <h5 class="widget-title">
      Recent Posts
    </h5>

    <ul>
      {% for date, title in {
        'May 28, 2020': 'Mobile UI Design: 7 Basic Typography rules',
        'May 22, 2020': 'Graphic Design: Tips and Best Practices',
        'April 19, 2020': 'Review of Popular Web Design Trends in 2020'
      } -%}
        <li>
          <span class="post-date">{{ date }}</span>
          <a data-barba href="blog-article.html">{{ title }}</a>
        </li>
      {% endfor -%}
    </ul>
  </div>
  <!-- widget end -->


  <!-- widget start -->
  <div class="widget widget_recent_comments">
    <h5 class="widget-title">
      Recent Comments
    </h5>

    <ul>
      {% for name, title in {
        'Kieran Dalby': 'Mobile UI Design: 7 Basic Typography rules',
        'Heather Connelly': 'Mobile UI Design: 7 Basic Typography rules',
        'Wade Barrett': 'Mobile UI Design: 7 Basic Typography rules'
      } -%}
        <li>
          <span class="comment-author-link">
            <a href="#">{{ name }}</a>
          </span>
          on
          <a href="#">{{ title }}</a>
        </li>
      {% endfor -%}
    </ul>
  </div>
  <!-- widget end -->


  <!-- widget start -->
  <div class="widget widget_tag_cloud">
    <h5 class="widget-title">
      Tags
    </h5>

    <div class="tagcloud">
      {% for tag in [
        'Video(2)', 'Artist(2)', 'Nature(2)', 'Business(2)',
        'Trade(2)', 'People(2)', 'Development(2)',
        'Graphic Design(2)', 'Art(2)', 'Marketing(2)'
      ] -%}
        <a class="tag-cloud-link" href="#">{{ tag }}</a>
      {% endfor -%}
    </div>
  </div>
  <!-- widget end -->

</aside>