/*--------------------------------------------------
	12. Footer
---------------------------------------------------*/

.footer.-type-3 {
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.footer.-type-3 .footer {
  &__wrap {
    position: relative;
    z-index: 1;
    margin-bottom: rem(54px);
  }

  &__content {
    padding-top: 20px;
  }

  &__subtitle {
    letter-spacing: 0.25em;
  }

  &__link {
    display: block;
    line-height: 1.3;
    font-size: rem(62px);
    margin-top: rem(24px);

    @include media-below(md) {
      font-size: 56px;
    }

    @include media-below(sm) {
      font-size: 46px;
    }

    @include media-below(xs) {
      font-size: 7.4vw;
    }
  }

  &__text {
    color: rgba(black, 0.6);
    margin-top: rem(40px);

    @include media-below(md) {
      margin-top: 32px;
    }

    @include media-below(sm) {
      margin-top: 20px;
    }
  }

  &__shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;

    @include size(rem(460px));
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
  }


  &__bottom {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;

    @include media-below(sm) {
      left: 0;
      right: 0;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: rem(30px) 0;
    border-top: 1px solid rgba(black, 0.2);

    @include media-below(sm) {
      justify-content: space-between;
      padding: 30px;
    }

    a {
      line-height: 1;
      font-size: 18px;
      padding: rem(10px) rem(40px);

      @include media-below(sm) {
        padding: 10px 20px;
      }
    }
  }
}


.footer.-type-3.-dark {
  background-color: #141318;

  .footer {
    &__text {
      color: rgba(white, 0.6);
    }

    &__shape {
      background-color: #141318;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
    }

    &__social {
      border-top: 1px solid rgba(white, 0.2);
    }
  }
}
