.blogPost-media {
  width: 100%;
  margin-top: 40px;

  div {
    padding-bottom: 65%;
  }
}

.blogPost-single .blogPost-content {
  .wp-block-cover-text {
    color: white;
  }
}


// align and spacers
.blogPost-single .blogPost-content {
  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }

  .alignleft {
    margin-right: auto;
    // margin-right: 1.5em;
  }

  .alignright {
    margin-left: auto;
    // margin-top: 0.375em;
    // margin-left: 1.5em;
  }
}