/*--------------------------------------------------
	Link and quote post types
---------------------------------------------------*/

.blog {
  &-content.blog-content-link {
    padding: 115px 80px;
    display: flex;
    align-items: center;

    h3 {
      width: 65%;
      font-weight: 500;
    }
  }

  &-link-icon {
    position: absolute;
    right: 90px;

    i {
      color: rgba(white, 0.2);
      font-size: 135px;
    }
  }
}

article.format-quote blockquote {
  padding: 14px 22px;
  margin: 16px 0;
  border-left: 2px solid white;
  background-color: rgba(white, 0.1);

  p {
    font-style: normal;
    font-size: 20px !important;
    line-height: 160% !important;
    margin: 0;
    color: white !important;
  }

  cite {
    display: inline-block;
    font-size: 19px !important;
    line-height: 150% !important;
    font-weight: 400 !important;
    margin-top: 14px !important;
    color: var(--gray-500) !important;
    text-decoration: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog {
    &-content.blog-content-link {
      padding: 80px 40px;
    }

    &-link-icon i {
      font-size: 100px;
    }
  }
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
  .blog {
    &-content.blog-content-link {
      padding: 80px 40px;
    }

    &-link-icon {
      right: 40px;
      i {
        font-size: 90px;
      }
    }
  }
}

@media only screen and (max-width: 574px) {
  .blog {
    &-content.blog-content-link {
      flex-direction: column;
      text-align: center;
      padding: 70px 0;
    }

    &-link-icon {
      position: relative;
      display: flex;
      justify-content: center;
      right: 0;
      margin-top: 20px;

      i {
        font-size: 70px;
      }
    }
  }
}
