<!-- footer start -->
<footer class="footer -type-1">
  <!-- container start -->
  <div class="container">

    <div class="footer__top">
      <!-- row start -->
      <div class="row y-gap-48 justify-content-between">
        <div class="col-lg-auto col-sm-12">
          <a href="home-1.html" class="footer__logo text-black">
            {{ GENERAL.projectName }}.
          </a>
        </div>

        <div class="col-lg-3 col-sm-6">
          <h4 class="text-xl fw-500 text-black">
            Studio
          </h4>

          <div class="footer__content text-base text-dark mt-16 sm:mt-12">
            <p>{{ GENERAL.address }}</p>
            <p class="mt-8">{{ GENERAL.email }}</p>
            <p class="mt-8">{{ GENERAL.phone }}</p>
          </div>
        </div>

        <div class="col-lg-auto col-sm-4">
          <h4 class="text-xl fw-500 text-black">
            Links
          </h4>

          <div class="footer__content text-base text-dark mt-16 sm:mt-12">
            <div><a data-barba href="blog-1.html" class="button -underline">Blog</a></div>
            <div><a data-barba href="about-1.html" class="button -underline mt-4">Abous Us</a></div>
            <div><a data-barba href="#" class="button -underline mt-4">Shop</a></div>
            <div><a data-barba href="contact-1.html" class="button -underline mt-4">Contacts</a></div>
          </div>
        </div>

        <div class="col-lg-auto col-auto">
          <h4 class="text-xl fw-500 text-black">
            Follow us
          </h4>

          <div class="social -bordered mt-16 sm:mt-12">
            <a class="social__item text-black border-dark" href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="social__item text-black border-dark" href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a class="social__item text-black border-dark" href="#">
              <i class="fab fa-youtube"></i>
            </a>
            <a class="social__item text-black border-dark" href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>


    <div class="footer__bottom">
      <!-- row start -->
      <div class="row">
        <div class="col">
          <div class="footer__copyright">
            <p class="text-dark">
              {{ GENERAL.copyright }}
            </p>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>

  </div>
  <!-- container end -->
</footer>
<!-- footer end -->
