.aboutHeader {
  &__section {
    overflow: visible;
    padding-top: rem(320px);
    padding-bottom: rem(160px);

    @include media-below(md) {
      padding-top: rem(220px);
      padding-bottom: rem(160px);
    }

    @include media-below(sm) {
      padding-top: rem(160px);
      padding-bottom: rem(80px);
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: rem(80px);

    @include media-below(md) {
      font-size: rem(54px);
    }
    @include media-below(sm) {
      font-size: rem(36px);
    }
  }

  &__text {
    margin-top: rem(60px);
    
    @include media-below(md) {
      margin-top: rem(40px);
    }
    @include media-below(sm) {
      margin-top: rem(30px);
    }
    
    p {
      font-size: rem(18px);
      line-height: 1.6;

      @include media-below(md) {
        font-size: rem(16px);
      }
    }
  }

  &__icon {
    position: absolute;
    bottom: -14vw;
    right: 10vw;
    
    .icon {
      width: rem(480px);
      height: rem(480px);
      color: white;
      stroke-width: 0.3;
      opacity: 0.6;
    }

    @include media-below(lg) {
      bottom: -10vw;
      right: 3vw;

      .icon {
        width: rem(400px);
        height: rem(400px);
      }
    }
    @include media-below(md) {
      bottom: -14%;
      right: -8%;

      .icon {
        opacity: 0.3;
      }
    }
    @include media-below(sm) {
      bottom: 10%;
      right: -35%;

      .icon {
        width: rem(380px);
        height: rem(380px);
        opacity: 0.2;
      }
    }
  }
}


.about-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(50px);

  @include media-below(md) {
    font-size: rem(36px);
    text-align: center;
  }
}


.clients {
  &__section {
    padding-top: rem(160px);
    padding-bottom: rem(120px);

    @include media-below(md) {
      padding-top: rem(160px);
      padding-bottom: rem(100px);
    }

    @include media-below(sm) {
      padding-top: rem(80px);
    }

    .swiper-container {
      @include media-below(sm) {
        padding-left: 16vw;
        padding-right: 16vw;
      }
    }
  }

  &__grid {
    margin-top: -10px;
    margin-bottom: -10px;

    > * {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: rem(100px);

    @include media-below(md) {
      margin-bottom: rem(48px);
    }
  }

  &__content {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 70%;
      height: auto;
      object-fit: cover;

      @include media-below(sm) {
        width: 100%;
      }
    }
  }
}

.clients__section .swiper {
  &-container {
    overflow: visible;
  }

  &-wrapper {
    @include media-below(md) {
      flex-wrap: nowrap;
      margin: 0;
    }
  }

  &-slide {
    @include media-below(md) {
      padding: 0;
      flex: unset;
      flex-shrink: 0;
      max-width: unset;

      opacity: 0.4;
      transition: opacity 0.2s ease;
    }
  }

  &-slide-active {
    opacity: 1;
  }

  &-pagination {
    margin-top: rem(60px);
  }
}


.services {
  &__section {
    padding-top: rem(120px);
    padding-bottom: rem(120px);

    @include media-below(md) {
      padding-top: rem(100px);
      padding-bottom: rem(100px);
    }

    .swiper-container {
      @include media-below(sm) {
        padding-left: 20vw;
        padding-right: 20vw;
      }
    }
  }

  &__grid {
    margin-top: -40px;
    margin-bottom: -40px;

    > * {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__section__title {
    margin-bottom: rem(100px);
    
    @include media-below(md) {
      margin-bottom: rem(48px);
    }
  }

  &__content {
    position: relative;

    @include media-below(md) {
      text-align: center;
    }
  }

  &__icon {
    .icon {
      width: rem(80px);
      height: auto;

      @include media-below(md) {
        width: rem(102px);
      }
    }
  }

  &__title {
    margin-top: rem(24px);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: rem(22px);
    line-height: 1;
    letter-spacing: -0.01em;
    font-weight: 500;
    
    @include media-below(md) {
      font-size: rem(18px);
    }
  }
}

.services__section .swiper {
  &-container {
    overflow: visible;
  }
  
  &-wrapper {
    @include media-below(md) {
      flex-wrap: nowrap;
      margin: 0;
    }
  }

  &-slide {
    @include media-below(md) {
      padding: 0;
      flex: unset;
      flex-shrink: 0;
      max-width: unset;
      opacity: 0.4;
      transition: opacity 0.2s ease;
    }
  }
  
  &-slide-active {
    opacity: 1;
  }

  &-pagination {
    margin-top: rem(72px);
  }
}


.contact {
  &__section {
    position: relative;
    overflow: visible;
    padding-top: rem(100px);
    padding-bottom: rem(140px);

    @include media-below(md) {
      padding-bottom: rem(100px);
    }
  }
  
  &__inner {
    position: relative;
    padding-top: rem(90px);
    padding-bottom: rem(90px);
    box-shadow: inset 0px 0px 0px 1px #fff;
    
    @include media-below(md) {
      padding-left: rem(60px);
      padding-right: rem(60px);
    }
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--main-bg);
      z-index: -1;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: rem(10px);
      left: rem(10px);
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: -2;
    }

    @include media-below(sm) {
      padding: 0;
      padding-left: rem(30px);
      padding-right: rem(30px);
      box-shadow: none;

      &::before { background-color: transparent; }
      &::after { background-color: transparent; }
    }
  }

  &__icon {
    z-index: -3;
    position: absolute;
    bottom: rem(40px);
    right: 0;
    opacity: 0.4;

    .icon {
      height: auto;
    }

    @include media-below(sm) {
      bottom: rem(130px);
      right: rem(-80px);

      .icon {
        width: rem(280px);
      }
    }
  }

  &__header {}

  &__title {
    font-size: rem(56px);
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 700;

    @include media-below(md) {
      font-size: rem(36px);
    }
  }

  &__text {
    padding: 0; 
    line-height: 1.6;
    letter-spacing: -0.01em;
    font-size: rem(18px);
    margin-top: rem(40px);

    @include media-below(md) {
      font-size: rem(16px);
      margin-top: rem(30px);
    }
  }

  &__form {
    padding-left: rem(30px);

    @include media-below(lg) {
      padding-left: 0;
      margin-top: rem(50px);
    }

    .form-group + .form-group {
      margin-top: 20px;
    }

    .form-button {
      margin-top: rem(48px);
    }
  }

  &__footer {
    margin-top: rem(115px);
    margin-bottom: rem(-25px);
    
    @include media-below(md) {
      margin-top: rem(75px);
    }

    > * {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

.contact-info {
  &__content {
    &:nth-of-type(1) {
      padding-right: 40px;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 28px;
    text-transform: uppercase;
  }

  &__item {
    text-transform: capitalize;
    display: block;
    font-size: 16px;
    line-height: 1.6;

    + .contact-info__item {
      margin-top: 8px;
    }
  }
}
