.homeSection {
  padding-top: rem(120px);
  padding-bottom: rem(80px);

  &__logo {
    height: 320px;
  }

  &__text {
    margin-top: rem(60px);
    
    p {
      display: initial;
      font-size: rem(34px);
      line-height: 1.6;
      letter-spacing: -0.03em;
      color: white;

      background-repeat: no-repeat;
      background-image: var(--main-gradient-opacity);
      background-position: 0px 95%;
      padding: 0.3% 0;
      background-size: 100% rem(2px);

      @include media-below(md) {
        font-size: rem(24px);
      }

      @include media-below(sm) {
        font-size: rem(18px);
      }
    }
  }
}