canvas { 
	display: block; 
	position: fixed;
	z-index: -1; // put it to background
	left: 0; // position it to fill the whole screen
	top: 0; // position it to fill the whole screen
}




.talentsSingle-header {
  padding-top: rem(210px);
  padding-bottom: rem(150px);
  overflow: visible;

  @include media-below(md) {
    padding-top: rem(120px);
    padding-bottom: rem(90px);
  }

  .row {
    position: relative;
    align-items: center;
  }

  &__image {
    position: relative;

    img {
      border-radius: rem(20px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;

    @include media-below(md) {
      margin-top: rem(60px);
      position: relative;
    }
  }

  &__title {
    font-size: rem(80px);
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @include media-below(md) {
      font-size: rem(36px);
    }
  }

  &__text {
    margin-top: rem(80px);
    font-size: rem(18px);

    @include media-below(md) {
      font-size: rem(16px);
      margin-top: rem(20px);
    }
  }
}

.talentsSingle-socials {
  padding-top: rem(150px);
  padding-bottom: rem(150px);

  @include media-below(md) {
    padding-top: rem(90px);
    padding-bottom: rem(90px);
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header__title {
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: 800;
    text-transform: uppercase;
    
    @include media-below(md) {
      font-size: rem(30px);
    }
  }

  &__header__line {
    background: var(--main-gradient);
    width: rem(2px);
    height: rem(60px);
    margin-top: rem(48px);

    @include media-below(md) {
      display: none;
    }
  }


  &__grid {
    align-items: center;
    margin-top: rem(50px);
    margin-bottom: rem(-30px);

    > * {
      padding-top: rem(30px);
      padding-bottom: rem(30px);
    }
  }


  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {}

  &__title {
    margin-top: rem(24px);
    font-size: rem(36px);
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;

    @include media-below(md) {
      font-size: rem(30px);
    }
  }

  &__followers {
    margin-top: rem(20px);
    font-size: rem(32px);
    letter-spacing: -0.05em;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color: white;

    @include media-below(md) {
      font-size: rem(30px);
    }
  }
}

.talentsSingle-cta {
  padding-top: rem(150px);
  padding-bottom: rem(150px);

  @include media-below(md) {
    padding-top: rem(90px);
    padding-bottom: rem(120px);
  }

  &__inner {
    position: relative;
    padding-top: rem(90px);
    padding-bottom: rem(90px);
    box-shadow: inset 0px 0px 0px 1px #fff;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--main-bg);
      z-index: -1;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: rem(10px);
      left: rem(10px);
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: -2;
    }

    @include media-below(md) {
      padding-left: rem(90px);
      padding-right: rem(90px);
    }

    @include media-below(sm) {
      padding: 0;
      padding-left: rem(30px);
      padding-right: rem(30px);
      box-shadow: none;

      &::before { background-color: transparent; }
      &::after { background-color: transparent; }
    }
  }

  &__title {
    font-size: rem(68px);
    line-height: 1.1;
    text-transform: uppercase;
    
    @include media-below(md) {
      font-size: rem(56px);
    }
    
    @include media-below(sm) {
      font-size: rem(36px);
    }
  }

  &__text {
    margin-top: rem(60px);
    font-size: rem(18px);
    
    @include media-below(md) {
      font-size: rem(16px);
      margin-top: rem(30px);
    }
  }


  &__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    
    @include media-below(md) {
      justify-content: flex-start;
    }
  }

  &__arrow {
    position: relative;
    top: rem(-45px);
    
    @include media-below(md) {
      top: unset;
      display: none;
    }
  }

  &__button {
    @include media-below(md) {
      margin-top: rem(48px);
      width: 100%;
    }
  }
}


.test-bg {
  &::after {
    content: "";
    background: radial-gradient(circle,#fff 0,hsla(0,0%,100%,0) 60%);
    display: block;
    position: absolute;
    top: 50vh;
    left: 50%;
    opacity: 0.1;
    transform: translate(-50%,-50%);
    // height: 192rem;
    // width: 192rem;
    height: 120rem;
    width: 120rem;
    z-index: -1;
  }
}
