.talents {
  &__section {
    padding-top: rem(120px);
    padding-bottom: rem(120px);
  }

  &__section__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: rem(100px);
    font-size: rem(50px);
  }

  &__content {
    position: relative;
  }

  &__icon {
    width: 80px;
    height: 80px;
    background-color: white;
  }

  &__title {
    margin-top: 24px;
  }
}


.talentsSingle-header {
  padding-top: 120px;
  padding-bottom: 120px;
}

.talentsSingle-socials {
  padding-top: 120px;
  padding-bottom: 120px;
}

.talentsSingle-cta {
  padding-top: 120px;
  padding-bottom: 120px;
}
